* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 3;
}

.title {
  position: relative;
  margin-top: 59px;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  z-index: 2;
}
.title_white {
  color: white;
}

.subtitle {
  position: relative;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
  text-align: center;
  z-index: 2;
}
.subtitle_white {
  color: white;
}
.subtitle_blue {
  color: #1EACC7;
}
.subtitle_red {
  color: #FF5656;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted #000000;
  padding-right: 32px;
}

.subheader {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  font-weight: 400px;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 6px;
}
.subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}
.subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 68px;
  text-transform: uppercase;
  text-align: right;
  color: #FFFFFF;
  line-height: 12px;
  margin-top: 8px;
}
.subheader_button {
  width: 172px;
  height: 46px;
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
  margin-top: 19px;
}
.subheader_button:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/header_bg.png") center center/cover no-repeat;
  padding: 155px 0 185px 0;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
}
.promo_subheader {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin-top: 22px;
  text-align: center;
}
.promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 28px;
}
.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 115px auto 0 auto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.advantages {
  height: 850px;
}
.advantages_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}
.advantages_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
}
.advantages_descr {
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  width: 370px;
}
.advantages_descr span {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.mobile {
  min-height: 864px;
  padding-bottom: 80px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.mobile .title {
  padding-top: 48px;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/mobile_img1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/mobile_img2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/mobile_img3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/mobile_img4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/mobile_img5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/mobile_img6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  transition: 0.3s;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.possibilities {
  position: relative;
  min-height: 900px;
  padding: 48px 0 80px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.possibilities img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}
.possibilities_descr {
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.possibilities .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 499px;
  background-color: #070716;
  z-index: 1;
}

.condition {
  padding-bottom: 90px;
  min-height: 825px;
}
.condition_block {
  margin: 33px 0;
}
.condition_block_nmb {
  margin-bottom: 0px;
}
.condition_block .subtitle {
  color: #1CA8C3;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}
.condition_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.condition_list li {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.condition_list li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transform: translate(-5px, -1px);
  width: 21px;
  height: 20px;
  background: url("../img/icons/condition_mark.png") center center/cover no-repeat;
}
.condition_text {
  color: #1CA8C3;
  font-size: 17px;
  font-weight: 300;
}
.condition .warning .subtitle {
  color: #FF5656;
}
.condition .warning .condition_list li:before {
  background: url("../img/icons/condition_mark_red.png") center center/cover no-repeat;
}

.world {
  min-height: 720px;
  width: 100%;
  position: relative;
}
.world .container img {
  z-index: 2;
  position: absolute;
  display: block;
}
.world .container .title {
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 73px;
}
.world .container .subtitle {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
.world .container .link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  z-index: 3;
  color: #1FBAD6;
}
.world .container .link a {
  outline: none;
}
.world .container .link:hover {
  text-decoration: none;
  color: #fff;
}
.world .black_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  background-color: #070716;
  z-index: 1;
}

footer {
  padding: 12px 22px 37px 31px;
}

.footer a:hover {
  text-decoration: none;
}
.footer_divider {
  background-color: #1EACC7;
  width: 301px;
  height: 7px;
  margin: 0 auto;
}
.footer_links_up {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_down {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */