* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {

    border-right: 2px dotted #000000;
    padding-right: 32px;
}

.subheader {
    height: 84px;
    background: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    font-weight: 400px;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_phone{
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 68px;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
    line-height: 12px;
    margin-top: 8px;
}

.subheader .subheader_button{
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border: none;
    margin-top: 19px;
}
